version: "3"

services:

  # Proxy
  green:
    build: ./green
    image: knut-green:latest
    container_name: knut-green
    ports:
      - "9090:80"


    depends_on:
      - red
      - blue

  #
  # docker build setzt voraus, dass ein jar in target existiert...
  # also mvn package vorher laufen lassen
  red:
    build: ./red
    image: knut-red
    container_name: knut-red
    ports:
      - 9091:8080


  blue:
    build: ./blue
    image: knut-blue
    container_name: knut-blue
    ports:
      - 9092:8080
