<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Blue</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="menu">
    <ul>
        <li><a href="https://primary-test.ov.otto.de/" target="content-frame">Primary</a></li>
        <li><a href="http://mercado-monitor:8080/mm/" target="content-frame">Mercado Monitor</a></li>
        <li><a href="http://www.bing.com" target="content-frame">Bing</a></li>
    </ul>
</div>
<div id="content">
    <iframe name="content-frame" src="http://mercado-monitor:8080/mm/" width="100%" height="600" frameborder="0" allowfullscreen="true" >
        Oh nein!
        https://primary-test.ov.otto.de/ -> sandbox
        http://mercado-monitor:8080/mm/
        http://b2bgwtest03:10001/obc -> X-Header deny
        https://webb2b03.ottogroupb2b.com:7002/b2b/portal/home.do -> nicht aus VPN
    </iframe>
</div>
<div id="header">
    <table>
        <tr th:each="header : ${headers}">
            <td th:text="${header}">1</td>
        </tr>
    </table>
</div>
<div id="reqestparameter">
    <table>
        <tr th:each="rp : ${requestParameter}">
            <td th:text="${rp}">1</td>
        </tr>
    </table>
</div>
</body>
</html>
